<div class="container" style="margin-top:15px;">
    <div class="card" style="margin-bottom: 10px;">
    <div class="row" style="padding:10px">
       
        <div class="col-md-10">
                <div class="cilntprofile">
                        <h4>Client Name : - {{orderprofiledata.name}}</h4>
                        <p>Client Mobile :- {{orderprofiledata.mobilen}} Client Email :- {{orderprofiledata.emailid}}</p>
                </div>
        </div>
        <div class="col-md-2">
            <img src="../../../../assets/images/logowepack.jpg" width="80%">
        </div>
    </div>
</div>

    <div class="row">
            
        <div class="col-md-6" style="padding:10px;background:lightgoldenrodyellow;">
                <h4>Top Board</h4>
                <ul class="list-group">
                        <li class="list-group-item">Size : {{orderprofiledata.size}}</li>
                        <li class="list-group-item">Weight : {{orderprofiledata.weight}}</li>
                        <li class="list-group-item">Quality : {{orderprofiledata.quality}}</li>
                        <li class="list-group-item">QualityOther : {{orderprofiledata.qualityother}}</li>
                        <li class="list-group-item">Lamination : {{orderprofiledata.lamination}}</li>
                        <li class="list-group-item">Lamination Size : {{orderprofiledata.laminationsize}}</li>
                        <li class="list-group-item">Printing : {{orderprofiledata.printing}}</li>
                        <li class="list-group-item">Printing UVColor : {{orderprofiledata.printingnocolors}}</li>
                        <li class="list-group-item">Micro : {{orderprofiledata.micro}}</li>
                        <li class="list-group-item">No Of Box Per Sheet : {{orderprofiledata.noboxpersheet}}</li>
                        <li class="list-group-item">Embose : {{orderprofiledata.emboss}}</li>
                        <li class="list-group-item">UV : {{orderprofiledata.uv}}</li>
                      </ul>
        </div>
        <div class="col-md-6" style="padding:10px;background: lightgoldenrodyellow;">
            <h4>Bottom Board</h4>
            <ul class="list-group">
                    <li class="list-group-item">Bottom Size : {{orderprofiledata.bottomsize}}</li>
                        <li class="list-group-item">Bottom Weight : {{orderprofiledata.bottomweight}}</li>
                        <li class="list-group-item">Bottom Quality : {{orderprofiledata.bottomquality}}</li>
                        <li class="list-group-item">Bottom QualityOther : {{orderprofiledata.qualityother}}</li>
                        <li class="list-group-item">Bottom Lamination : {{orderprofiledata.bottomlamination}}</li>
                        <li class="list-group-item">Bottom Lamination Size : {{orderprofiledata.bottomlaminationsize}}</li>
                        <li class="list-group-item">Bottom Printing : {{orderprofiledata.bottomprinting}}</li>
                        <li class="list-group-item">Bottom Printing UVColor : {{orderprofiledata.bottomprintinguvcolor}}</li>
                        <li class="list-group-item">Bottom Micro : {{orderprofiledata.bottommicro}}</li>
                        <li class="list-group-item">Punching : {{orderprofiledata.punching}}</li>
                        <li class="list-group-item">Pasting : {{orderprofiledata.pasting}}</li>
                        <li class="list-group-item">hotFoil : {{orderprofiledata.hotfoil}}</li>
                        <li class="list-group-item">Window Pasting : {{orderprofiledata.windowpasting}}</li>
                  </ul>
        </div>
    </div>

</div>
<div class="container" style="margin-top:15px;background: lightgoldenrodyellow;padding: 5px;">
        <div  style="margin-bottom: 10px;">
        <div class="row" style="padding:10px">
           
            <div class="col-md-6">
                    <ul class="list-group">
                            <li class="list-group-item">Quantity : {{orderprofiledata.quantity}}</li>
                            <li class="list-group-item">Total Amount : {{orderprofiledata.totalamount}}</li>
                            <li class="list-group-item">Total Amount(GST) : {{orderprofiledata.bilwithoutgst}}</li> 
                            <li class="list-group-item">Empolye Id : {{orderprofiledata.eid}}</li> 
                    </ul>
            </div>
            <div class="col-md-6">
                    <ul class="list-group">
                            <li class="list-group-item">Payment Term : {{orderprofiledata.paymentterm}}</li>
                            <li class="list-group-item">Orders Date : {{orderprofiledata.date}}</li>
                            <li class="list-group-item">Gst No. : {{orderprofiledata.gstno}}</li>
                            <li class="list-group-item">Order id : {{orderprofiledata.orderuid}}</li> 
         
                     </ul>
            </div>
        </div>
    </div>
    </div>