<div class="container">
  <div [hidden]="flag">
    <div class="reslt"> {{result}}</div>
 </div>
    <h2 class="text-align">Employee List</h2>
  
      <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Mobile No.</th>
              <th>Email</th>
              <th>Address</th>
              <th>User  ID</th>
              <th>Password</th>

              <th>Operation</th>
            </tr>
          </thead>
          <tbody *ngFor="let p of dataemployeelist">
            <tr *ngFor="let c of p">
              
              <td>{{c.name}}</td>
              <td>{{c.number}}</td>
              <td>{{c.email}}</td>
              <td>{{c.address}}</td>
              <td>{{c.uid}}</td>
              <td>{{c.pass}}</td>
              <td> <button type="button" (click)="sendtoDelete(c.quid)" class="btn btn-danger" title="Delete">X</button></td>
            </tr>
           
          </tbody>
        </table>
  </div>