<div class="loginparent">
  <div class="loginparameter">
      <div class="text-center">
          <h2>Log-In</h2>
        </div>
    <input type="text" class="form-control form-control-lg" #uid placeholder="Enter User ID" name="email">
    
    <input type="password" class="form-control form-control-lg mtop" #pass placeholder="Enter Password" name="password">
    
    <button type="button" class="btn custombtn">Reset</button>
    <button type="button" class="btn custombtn" (click)="check(uid.value,pass.value)">Login</button>     

  </div>
  
</div>