<div class="container dback">
  <div class="row">
      <div class="col-md-12 text-center">
          <h4>Upload New Designs</h4>
      </div>
  </div>
  <div class="row form-group"  >
      <div class="col-md-3 text-center" >
      </div>
      <div class="col-md-4 text-center">
         
          <input type="file" name="selectFile" id="selectFile">
      </div>
      <div class="col-md-4 text-center">
         
         <button class="btn btn-primary" (click)="uploadimage()">Upload</button>
      </div>
  </div>
</div>